@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.scrollbar-hide::-webkit-scrollbar { display: none; }         
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

:root{
  --app-font: "Roboto", system-ui, -apple-system, "Segoe UI",
              Roboto, "Helvetica Neue", Arial, "Apple Color Emoji","Segoe UI Emoji";
}

html { font-family: var(--app-font); }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }